<div class="layout">
  <header class="layout__header">
    <main-header />
  </header>

  <div class="layout__body">
    <!-- layout__sidebar control  the width of the sidebar (it should not be handled inside <main-sidebar> it self) -->
    <aside class="layout__sidebar" [class.layout__sidebar--collapsed]="collapsed()">
      <!-- main-sidebar owns the content -->
      <main-sidebar [collapsed]="collapsed()" (toggleBurgerClicked)="toggleSidebar()" />
    </aside>

    <main class="layout__content">
      <router-outlet />
    </main>
  </div>
</div>
