:host {
  display: flex;
  flex-direction: column;

  img {
    border-radius: 200px;
    max-height: 200px;
    max-width: 200px;
  }

  a {
    font-size: 20px;
  }
}

.todos-list,
.todo-input {
  width: 100%;
}

.todo-item {
  display: flex;
  align-items: center;
}

.delete-icon {
  margin-right: 10px;
}

.completed-todo-item {
  text-decoration: line-through;
}
